/*===================== шрифты ===========================*/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Poppins-Bold.woff") format("woff");
  font-display: swap;
}

/*===================== *** ===========================*/
html {
  height: 100%;
  /* нужно для стики-футера*/
}

body {
  min-width: 1196px;
  margin: 0 auto;

  min-height: 100%;
  /*нужно для стики-футера*/
   /* display: flex; */
  /* нужно для стики-футера */

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #544837;

  background-color: #F2F2F2;
}

img {
   object-fit: contain;
}

.container {
  width: 1196px;
/* padding: 0 122px; */



min-height: 100%;
/* нужно для стики-футера*/
/* display: flex; */
/* нужно для стики-футера*/
/* flex-direction: column; */
/* нужно для стики-футера*/

margin: 0 auto;
background-color: #ffffff;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-break {
  display: block;
}
/*===================== *** fonts *** ===========================*/
.main-text {
    /*  основной текст ,как body   */
    margin: 0;
}

.main-title {
  /*  h1   */
	margin: 0;
	font-family: "Poppins", sans-serif;
  font-size: 44px;
  line-height: 54px;
  color: #2F281E;
}

.subtitle {
  margin: 0;
	font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.title-section {
  /*  h2   */
	margin: 0;
  font-size: 34px;
  line-height: 40px;
  color: #2F281E;
}

.title-card {
  /*  h3   */
	margin: 0;
  font-size: 24px;
  line-height: 34px;
  color: #2F281E;
}

.title-tools {
  /*  h4   */
	margin: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  color: #2F281E;
}

.nav-text {
  font-size: 15px;
  line-height: 28px;
  color: #2F281E;
}

.btn-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.btn-mini {
  box-sizing: border-box;
font-size: 13px;
line-height: 28px;

padding: 0 14px;
border: 1px solid transparent;
border-radius: 90px;
background-color: #F5F5F5;
}

.title-name {
font-weight: 600;
}

.name-email-text {
font-size: 14px;
}
.contacts-link {
  font-size: 25px;
  line-height: 26px;
}

.footer-title {
  font-size: 20px;
  line-height: 30px;
  color: #2F281E;
}

.footer-link {
	font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 35px;
  color: #544837;
}
/*===================== *** buttons *** ===========================*/
.btn {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid transparent;
}

.btn-small {
  padding: 11px 25px 13px;
}

.btn-big {
  padding: 15px 36px 16px;
}

.btn-color-1 {
    background-color: #FFFFFF;
}

.btn-color-2 {
   background-color: #FF9900;
}

.btn-color-3 {
  background-color: #FF7549;
}

.btn-border {
  border: 3px solid #BCD0E5;
}

/*===================== *** buttons-mini *** ===========================*/
.btn-mini-attribute {
  /* белая*/
background-color: #ffffff;
border-color: #D7D7D7;
}

.btn-mini-selected {
  /* оражевая*/
background-color: #FF9900;
}

/*===================== *** header *** ===========================*/

.main-header {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 30px;
}

.main-nav {
  display: flex;
  /* justify-content: space-between; */
}

.nav-list {
  display: flex;
flex-wrap: wrap;
}

.nav-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  padding: 24px 17px;
}

.nav-btn-wrapp {
  display: flex;
  flex-wrap: wrap;
}
/*===================== *** hero *** ===========================*/
.hero {
  padding: 83px 600px 81px 0;
  margin-bottom: 111px;
}

.hero-wrapp {
min-width: 645px;
}

.main-title {
  padding-bottom: 30px;
}

.subtitle {
  padding-bottom: 45px;
}

.hero-btn-wrapp {
  display: flex;
  flex-wrap: wrap;
}

/*===================== *** tools *** ===========================*/
.tools {
  margin-bottom: 30px;
  padding-bottom: 90px;
  text-align: center;
}
.tools .title-section {
margin-bottom: 70px;
}

.tools-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 34px;

  display: flex;
  flex-wrap: wrap;
  gap:20px 50px;
}

.tools-item {
  max-width: 261px;

  display: flex;
  flex-direction: column;
}

.title-tools {
  margin-bottom: 16px;
}

/*===================== *** strategies *** ===========================*/
.strategies {
margin-bottom: 90px;
padding-bottom: 6px;
}

.strategies .title-section {
  margin-bottom: 14px;
}

.strategies .main-text {
  margin-bottom: 24px;
}

.btn-mini-list {
  margin: 0;
  padding: 0;
  list-style: none;

  margin-bottom: 31px;

  display: flex;
  gap: 4px;
}

.strategies-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 30px 34px;
}

.strategies-item {
  box-sizing: border-box;
  width: 376px;
  padding-bottom: 26px;
}

.strategies-item-big {
  box-sizing: border-box;
  width: 786px;
}

.strategies-item-img {
  display: block;
  margin-bottom: 24px;
}

.strategies-item .title-card {
  margin-left: 33px;
  margin-right: 36px;
 margin-bottom: 29px;
}
